
/* ==== CORES ========================== */


.imc.green {
  background-color: #defcf7;
}

.imc.green .output,
.imc.green .status {
  color: var(--primary-light);
} 

.imc.yellow {
  background-color: #fafadd;
}

.imc.yellow .output,
.imc.yellow .status {
  color: #E6BB10;
} 

.imc.red {
  background-color: #fdebeb;
}

.imc.red .output,
.imc.red .status {
  color: #FF0601;
} 



/* ==== SWITCHER ========================== */





/* ==== MAIN ========================== */


.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.main::before {
  width: 100%;
  height: 100%;
  content: '';

  background: url(../images/bg_2.svg) no-repeat 40vw;
  background-size: 80vw;

  position: fixed;
  z-index: -1;
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 90%;
  width: 90%;

}

/* ==== INPUT ========================== */


.dados {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  height: 44rem;
  width: 40rem;
}

.item {
  padding: 1rem 0;
  display: flex;
  justify-self: space-around;
  flex-direction: column;
}

.logo {
  align-self: flex-start;
  height: 3.3rem;
}

.txt {
  font-weight: 600;
  font-size: 3.1rem;
  color: var(--primary-light);
  line-height: 95%;
}

.back {
  margin-top: 1.2rem;
  font-size: 1.7rem;
  color: var(--primary-dark);
}


/* ==== FORM ========================== */


.form {
  width: 87%;
  min-height: 57%;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.ipt {
  padding: 1.4rem 2rem;
  border: 0.2rem solid #d9d9d9;
  border-radius: 1.6rem;

  font-size: 2.5rem;
  color: #495055;
  background-color: #F2F2F2;
}

.ipt:focus,
.ipt:focus::placeholder {
  color: black;
  border-color: black;

}
.ipt::-webkit-inner-spin-button,
.ipt::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn {
  margin-top: 1.5rem;
  padding: 1.3rem 2rem;

  font-size: 2.5rem;

  color: white;
  background-color: var(--primary-light);
  border: 0.2rem solid var(--primary-light);
  border-radius: 1.6rem;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}


/* ==== RESULT ========================== */


.result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 45rem;
  min-height: 54rem;

}

/* ==== IMC ========================== */


.imc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1.6rem;

  width: 90%;
  min-height: 21.6rem;

  background-color: #F2F2F2;
  padding: 2rem 0 2.5rem 0;

  box-shadow: .1rem .1rem 1.8rem rgba(0, 0, 0, 0.5);
}

.span {
  font-size: 2.2rem;
  color: #495055;
}

.output {
  font-size: 7rem;
  color: #495055;
}

.status {
  font-size: 3rem;
  color: #495055;
}

/* ==== TABLE ========================== */

.ref {
  display: flex;
  align-items: center;
  justify-self: center;
  
  width: 100%;
  min-height: 24.3rem;

  background-color: var(--secondary-dark);
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  color: white;
}

td {
  border-bottom: .2rem solid var(--primary-light);
}

.pos {
  text-align: right;
}


/* ==== RESPONSIVO ========================== */

@media (min-width: 420px) and (max-width: 980px) {


  .main::before {
    content: none;
  }

  .container {
    flex-direction: column;
    margin-top: 5rem;
    gap: 4rem;

    height: 100%;
    width: 100%;
  }

  .dados {
    align-items: center;
    min-height: 45rem;
  }

  .logo {
    align-self: center;
  }

  .item {
    text-align: center;
  }

  .result {
    justify-content: flex-start;
    gap: 4rem ;
    padding-bottom: 4rem;

    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
  }

  .result::after {
    overflow: hidden;
    width: 200vw;
    height: 100%;
    content: "";

    background-color: var(--primary-light);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    top: 100px;
    position: absolute;
    z-index: -1;
  }

  .imc {
    margin-top: 2rem;
    max-width: 40rem ;
  }

  .ref {
    max-width: 42rem;
  }

  table {
    font-size: 1.8rem;
  }

}

@media (max-width: 419px) {


  .main::before {
    content: none;
  }

  .container {
    flex-direction: column;
    margin-top: 5rem;
    gap: 4rem;

    height: 100%;
    width: 100%;
  }

  .dados {
    align-items: center;
    max-width: 35rem;
    min-height: 45rem;
  }

  .logo {
    align-self: center;
  }

  .item {
    text-align: center;
  }

  .result {
    justify-content: flex-start;
    gap: 4rem ;
    padding-bottom: 4rem;

    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
  }

  .result::after {
    overflow: hidden;
    width: 200vw;
    height: 100%;
    content: "";

    background-color: var(--primary-light);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    top: 100px;
    position: absolute;
    z-index: -1;
  }

  .imc {
    margin-top: 2rem;
    max-width: 33rem ;
  }

  .ref {
    max-width: 35rem;
  }

  table {
    font-size: 1.7rem;
  }

  .switcher {
    right: 1rem;
  }

}
