:root {
  font-size: 62.5%;
  --primary-light: #03C4A1;
  --primary-dark: #05997e;
  --secondary-dark: #01B292;
  --darkmode: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato;
  transition: background 0.3s ease;
}

.seletor {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}